<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  {{!--
  <link rel="stylesheet" href="/node_modules/"> --}}

  <title>Document</title>
</head>
 
<body>

  {{>navbar}}

  <div class="container-fluid mt-5">
    <div class="row">
      <div class=" col-md-10 colo-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center  align-item-start flex-column">
              <h1>We Will Help You to</h1>
              <h1>Grow Your Business</h1>
              <p>We are the team of<span class="bold-style"> MERN</span> Developer <p>
                <button class="btn-style btn-primary"> Read Me</button>
          </div>
          {{!-- right side --}}
           <div class="col-md-6 col-12 hero-text order-md-0 order-0">
              <figure>
                <img src="./images/unnamed.png" alt="">
              </figure>
          </div>
        </div> 
      </div>
    </div>
  </div>
  
  {{!-- about start --}}

{{>about}}

{{!-- services --}}

{{>service}}

{{!-- maps --}}

{{>map}}

{{!-- contact --}}

{{>contact}}

{{>login}}

  <script src="../jq/jquery.js" type="text/javascript"></script>
  <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>