<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class=" col-md-10 colo-12 mx-auto">
        <h1 class="text-center main-heading">About us</h1>
        <p class="text-center sub-heading">Grow Your Business</p>
        <div class="row">
           <div class="col-md-6 col-12 hero-text">
              <figure>
                <img src="./images/main.png" alt="">
              </figure>
          </div>
          
          {{!-- right side --}}
          <div class="col-md-6 col-12 hero-text d-flex justify-content-center  align-item-start flex-column">
              <h1>We are Professional</h1>
              <h1>Grow Your Business</h1>
              <p>We are the team of<span class="bold-style"> MERN</span> Developer <p>
                <button class="btn-style btn-primary"> Read Me</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  