<div class="container-fluid mt-5 about-style" id="loginid">
    <div class="row">
        <div class=" col-md-10 colo-12 mx-auto">
            <h1 class="text-center main-heading">Login</h1>
            <p class="text-center sub-heading">Kindly login with email and password</p>
            <div class="row">
<div class="col-md-6 col-12 mx-auto">

    <form action="/login" method="POST">

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
 
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>


</div>